
<!DOCTYPE html>
<html lang="es-mx">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>acerca de</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block titulo %}
    <h1 class="text-center text-primary p-3">acerca de mi </h1>
    {% endblock %}
    {% block info %}
    
    <div class="rounded-4 shadow-lg fs-5 p-5 text-dark-emphasis-italic" style="background-color: white;">
    <br>bueno pues a mi me gusta es jugar videojuegos , ver anime ,series , peliculas , dibujas , leer , escuchar musica casi de todo 
    tipo , me gustan muchos los tacos de carne asada con todo y su salsa , cebolla y cilantro , tambien me gusta tomar coca cola y 
    hacer ejercicio con mis amigos escuchando musica. </br>
    y en el futiro me gustaria ser ingeniero en contabilidad y tener una casa propia un buen carrito y una buena chamba
    y pues eso es todo sobre mi
    </div>
    {% endblock %}
    </body>
</html>