<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>facebook</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
{% extends 'base.html' %}
<body style ="background-color: bisque;">
    {% block titulo %}
    <div class="text-center mb-3">
        <h1 class="fw-bolder" style="color:blue;">facebook</h1>
    </div>
    {% endblock %}
    {% block info %}
    <div class="card text-center mb-3" style="max-width: 540px; margin: auto;">
        <div class="card-header fw-bolder fs-3">
            Crea una cuenta
            <div class="fs-6">Es rápido y fácil</div>
        </div>
        <form class="p-3">
            <div class="row mb-2">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Nombre" required>
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Apellido" required>
                </div>
            </div>
            <div class="mb-2">
                <input type="email" class="form-control" placeholder="Correo electrónico" required>
            </div>
            <div class="mb-2">
                <input type="password" class="form-control" placeholder="Contraseña nueva" required>
            </div>
            <div>fecha de nacimiento</div>
            <div class="row mb-2">
                
                <div class="col">
                    <select class="form-select form-select-sm" aria-label="Small select example">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="3">4</option>
                        <option value="3">5</option>
                        <option value="3">6</option>
                        <option value="3">7</option>
                        <option value="3">8</option>
                        <option value="3">9</option>
                        <option value="3">10</option>
                        <option value="3">11</option>
                        <option value="3">12</option>
                        <option value="3">13</option>
                        <option value="3">14</option>
                        <option value="3">15</option>
                        <option value="3">16</option>
                        <option value="3">17</option>
                        <option value="3">18</option>
                        <option value="3">19</option>
                        <option value="3">20</option>
                        <option value="3">21</option>
                        <option value="3">22</option>
                        <option value="3">23</option>
                        <option value="3">24</option>
                        <option value="3">25</option>
                        <option value="3">26</option>
                        <option value="3">27</option>
                        <option value="3">28</option>
                        <option value="3">29</option>
                        <option value="3">30</option>
                        <option value="3">31</option>
                    </select>
                </div>
                <div class="col"><select class="form-select form-select-sm" aria-label="Small select example">
                        <option value="1">ene</option>
                        <option value="2">feb</option>
                        <option value="3">mar</option>
                        <option value="3">abr</option>
                        <option value="3">may</option>
                        <option value="3">jun</option>
                        <option value="3">jul</option>
                        <option value="3">ago</option>
                        <option value="3">sep</option>
                        <option value="3">oct</option>
                        <option value="3">nov</option>
                        <option value="3">dic</option>
                    </select>
                </div>

                <div class="col">
                    <select class="form-select form-select-sm" aria-label="Small select example">
                        <option value="1">1905</option>
                        <option value="2">1906</option>
                        <option value="3">1907</option>
                        <option value="3">1908</option>
                        <option value="3">1909</option>
                        <option value="3">1910</option>
                        <option value="3">1911</option>
                        <option value="3">1912</option>
                        <option value="3">1913</option>
                        <option value="3">1914</option>
                        <option value="3">1915</option>
                        <option value="3">1916</option>
                        <option value="3">1917</option>
                        <option value="3">1918</option>
                        <option value="3">1919</option>
                        <option value="3">1920</option>
                        <option value="3">1921</option>
                        <option value="3">1922</option>
                        <option value="3">1923</option>
                        <option value="3">1924</option>
                        <option value="3">1925</option>
                        <option value="3">1926</option>
                        <option value="3">1927</option>
                        <option value="3">1928</option>
                        <option value="3">1929</option>
                        <option value="3">1930</option>
                        <option value="3">1931</option>
                        <option value="3">1932</option>
                        <option value="3">1933</option>
                        <option value="3">1934</option>
                        <option value="3">1935</option>
                        <option value="3">1936</option>
                        <option value="3">1937</option>
                        <option value="3">1938</option>
                        <option value="3">1939</option>
                        <option value="3">1940</option>
                        <option value="3">1941</option>
                        <option value="3">1942</option>
                        <option value="3">1943</option>
                        <option value="3">1944</option>
                        <option value="3">1945</option>
                        <option value="3">1946</option>
                        <option value="3">1947</option>
                        <option value="3">1948</option>
                        <option value="3">1949</option>
                        <option value="3">1950</option>
                        <option value="3">1951</option>
                        <option value="3">1952</option>
                        <option value="3">1953</option>
                        <option value="3">1954</option>
                        <option value="3">1955</option>
                        <option value="3">1956</option>
                        <option value="3">1957</option>
                        <option value="3">1958</option>
                        <option value="3">1959</option>
                        <option value="3">1960</option>
                        <option value="3">1961</option>
                        <option value="3">1962</option>
                        <option value="3">1963</option>
                        <option value="3">1964</option>
                        <option value="3">1965</option>
                        <option value="3">1966</option>
                        <option value="3">1967</option>
                        <option value="3">1968</option>
                        <option value="3">1969</option>
                        <option value="3">1970</option>
                        <option value="3">1971</option>
                        <option value="3">1972</option>
                        <option value="3">1973</option>
                        <option value="3">1974</option>
                        <option value="3">1975</option>
                        <option value="3">1976</option>
                        <option value="3">1977</option>
                        <option value="3">1978</option>
                        <option value="3">1979</option>
                        <option value="3">1980</option>
                        <option value="3">1981</option>
                        <option value="3">1982</option>
                        <option value="3">1983</option>
                        <option value="3">1984</option>
                        <option value="3">1985</option>
                        <option value="3">1986</option>
                        <option value="3">1987</option>
                        <option value="3">1988</option>
                        <option value="3">1989</option>
                        <option value="3">1990</option>
                        <option value="3">1991</option>
                        <option value="3">1992</option>
                        <option value="3">1993</option>
                        <option value="3">1994</option>
                        <option value="3">1995</option>
                        <option value="3">1996</option>
                        <option value="3">1997</option>
                        <option value="3">1998</option>
                        <option value="3">1999</option> 
                        <option value="3">2000</option>
                        <option value="3">2001</option>
                        <option value="3">2002</option>
                        <option value="3">2003</option>
                        <option value="3">2004</option>
                        <option value="3">2005</option>
                        <option value="3">2006</option>
                        <option value="3">2007</option>
                        <option value="3">2008</option>
                        <option value="3">2009</option>
                        <option value="3">2010</option>
                        <option value="3">2011</option>
                        <option value="3">2012</option>
                        <option value="3">2013</option>
                        <option value="3">2014</option>
                        <option value="3">2015</option>
                        <option value="3">2016</option>
                        <option value="3">2017</option>
                        <option value="3">2018</option>
                        <option value="3">2019</option>
                        <option value="3">2020</option>
                        <option value="3">2021</option>
                        <option value="3">2022</option>
                        <option value="3">2023</option>
                        <option value="3">2024</option>
                        <option value="3">2025</option>
                    </select>
                </div>
            </div>
            <div>genero</div>
            <div class="form-check">
                <label for=""></label>
                <input type="text">
  <input class="form-check-input" type="checkbox" value="" id="checkDefault">
  <label class="form-check-label" for="checkDefault">
  </label>
    
</div>
            <button type="submit" class="btn btn-success w-100">Registrarte</button>
        </form>
        <div class="card-footer text-body-secondary">
            &copy; 2025 Mi Sitio Web
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
     {% endblock %}
</body>

</html>